<header>
    <span style="padding-right:20px;">Globon</span>
    <img width="70" height="70" style= "vertical-align: middle; display: inline;" src="https://storage.googleapis.com/siteassetsswd/198/slideshow/663/20200625074107_56_o_1ba8en13b14c61b15hei1bd63jlc.jpg" alt="Material Bread logo">
    <span style="padding-left:20px;">world discovery</span>
</header>

<div class="big-container">

  <div class="filter-container">
    <div id=select-by>
      <!-- locate by
      <label for="locate">Locate countries by: &nbsp;&nbsp; </label>

      <select #locate (change)="onSelected(locate.value)" name="locate" id="locate">
        <option value="">--- select ---</option>
        <option value="area">Area</option>
        <option value="marker">Marker</option>
      </select>
      -->

      <!-- search by -->
      <label style="font-size: 25px" for="search">Search countries by:<br> &nbsp;&nbsp; </label>

      <select #search (change)="onSelected(search.value)" name="search" id="search">
        <option value="">- - - select - - -</option>
        <option value="population">Population</option>
      </select>
    </div>

    <div class="form" id="population">

      <!-- form -->
      <form *ngIf="search.value=='population'" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    
        <p>
          <label for="minPopulation">Min Population: &nbsp;&nbsp; </label>
          <input type="text" id="minPopulation" name="minPopulation" ngModel>
        </p>
      
        <p>
          <label for="maxPopulation">Max Population: &nbsp;&nbsp; </label>
          <input type="text" id="maxPopulation" name="maxPopulation" ngModel>
        </p>
        
        <!-- <p>
        <label for="continents">Continent </label>
        <select name="continents" id="continents" ngModel>
          <option selected="" value=""></option>
          <option [ngValue]="c" *ngFor="let c of continentList">
            {{c}}
          </option>
        </select>
        </p> -->
      
        <p>
          <!--<button class="submit-button" type="submit" [disabled]="locate.value == '' ">Submit</button>-->
          <button class="submit-button" type="submit">Submit</button>
        </p>
      
      </form>
    </div>
  </div>

  <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
  </div>

</div>
