<header>
  <div id="header-div">
    <span>G&nbsp;L&nbsp;O&nbsp;B&nbsp;</span>
    <img width="30" height="30" style= "vertical-align: top; display: inline;" src="/assets/globon-icon.jpg" alt="Material Bread logo">
    <span>&nbsp;N</span>
  </div>
</header>

<div class="big-container">

  <div class="filter-container">
    <div id=select-by>

      <!-- search by -->
      <label style="font-size: 25px" for="search">Search countries by:<br> &nbsp;&nbsp; </label>

      <select #search (change)="onSelected(search.value)" name="search" id="search">
        <option value="">- - - select - - -</option>
        <option value="population">Population</option>
        <option value="incomeLevel">Income Level</option>
      </select>
    </div>

    <div class="formContainer">

      <!-- POPULATION form -->
      <form *ngIf="search.value=='population'" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    
        <p>
          <label for="minPopulation">Min Population: &nbsp;&nbsp; </label>
          <input type="text" id="minPopulation" name="minPopulation" [(ngModel)]="minPopulation">
        </p>
      
        <p>
          <label for="maxPopulation">Max Population: &nbsp;&nbsp; </label>
          <input type="text" id="maxPopulation" name="maxPopulation" [(ngModel)]="maxPopulation">
        </p>
        <p>
          <!--<button class="submit-button" type="submit" [disabled]="locate.value == '' ">Submit</button>-->
          <button class="submit-button" type="submit" [disabled]="!minPopulation && !maxPopulation">Submit</button>
        </p>
      
      </form>

      <!-- INCOME form -->
      <form *ngIf="search.value=='incomeLevel'" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <div class="form-group">
          <label for="incomeLevel">Income Level&nbsp;&nbsp;</label>
          <select #incomeLevel id="incomeLevel" name="incomeLevel" ngModel class="form-control">
            <option value="">- - - select - - -</option>
            <option value="high">HIGH</option>
            <option value="upperMiddle">UPPER MIDDLE</option>
            <option value="lowerMiddle">LOWER MIDDLE</option>
            <option value="low">LOW</option>
          </select>
          
        </div>
        <p>
          <!--<button class="submit-button" type="submit" [disabled]="locate.value == '' ">Submit</button>-->
          <button class="submit-button" type="submit" [disabled]="incomeLevel.value == ''">Submit</button>
        </p>
      </form>

      <div class="d-flex justify-content-center" [style.display]="isLoading ? 'block' : 'none'">
        <div class="spinner-border" role="status" >
          <span class="sr-only" id="loading"></span>
        </div>
      </div>

      <!-- number of countries found after filtering -->
      <div id="foundCountriesCount" [style.display]="isFoundCountriesCountVisible ? 'block' : 'none'">
        <p>{{foundCountriesCount}} Countries found.</p>
      </div>

    </div>
  </div>

  <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
  </div>

</div>



  <!-- locate by
  <label for="locate">Locate countries by: &nbsp;&nbsp; </label>

  <select #locate (change)="onSelected(locate.value)" name="locate" id="locate">
    <option value="">--- select ---</option>
    <option value="area">Area</option>
    <option value="marker">Marker</option>
  </select>
  -->
